zip filter=lfs diff=lfs merge=lfs -text
.zip filter=lfs diff=lfs merge=lfs -text
raw-cardinal-transactions.zip filter=lfs diff=lfs merge=lfs -text
raw-pfp-transactions.zip filter=lfs diff=lfs merge=lfs -text
